$color_main_regular: #914fa6; 

$photo_border: #d3cdda;

$navigation_regular: #914fa6;
$navigation_hover: #9e41cd;
$navigation_active: #53039e;

$text_regular: #470089;
$text_hover: #ae57ff;
$text_label: #1e0733;