@use "colors";

.header {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 3px;

    .navigation {
        margin-right: 30px;
        margin-top: 30px;

        .nav-item {
            margin-right: 10px;
            font-size: 30px;
            line-height: 36px;
            color: colors.$navigation_regular;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: colors.$navigation_hover;
            }

            &.active {
                color: colors.$navigation_active;
            }

        }

    }
}